[billing]
name=Alexander
company=My Company
invoices_path="../Faktureringsunderlag"
invoice_pattern=Faktura {number} {company}
template_path="../Faktureringsunderlag"
template_prefix=Fakturamall
create_pdf=True

[mail]
my_email=user@domain.com
invoice_recipient=ekonomi@those.se
invoice_cc=set_cc_here@those.se

send_pdf=True
pdf_recipient=recipient_pdf@domain.com

smtp_port=587
smtp_server="smtp.server.com"
smtp_user=user@domain.com