[identification]
name=MyName
company=MyCompany
email=user@domain.com

[billing]
invoices_path={currentdir}/../Fakturering
invoice_pattern={company} Faktura {number}
template_path={currentdir}/../Fakturering
template_prefix=Fakturamall
create_pdf=True
pdf_converter=C:\\Program Files\\LibreOffice\\program\\soffice.exe

[mailing]
invoice_recipient=set_recipient_here@domain.se
invoice_cc=set_cc_here@domain.se
invoice_subject={company} faktura
invoice_body=Hej!\n\nBifogar månadens faktura för {company}.\n\nMvh {name}

send_pdf=True
pdf_recipient=recipient_pdf@domain.com
pdf_subject={company}, utgående faktura"
pdf_body=

[mailing.smtp]
port=587
server=smtp.server.com
username=user@domain.com

[DEBUG]
mail_to_self_only=False
