[identification]
name=Test
company=TestCompany

[billing]
invoices_path=TEST
invoice_pattern=TEST INVOICE {number}
template_path=TEST
template_prefix=Fakturamall
create_pdf=False
pdf_converter=TEST

[mail]
my_email=TEST
invoice_recipient=TEST
invoice_cc=TEST

send_pdf=True
pdf_recipient=TEST

smtp_port=587
smtp_server=TEST
smtp_user=TEST

[DEBUG]
mail_to_self_only=False